// Site Colors
$green: #8dbf42;
$black: #000;
$white: #fff;
$lt-gray: #e7e5dd;
$blue: #009aff;
$md-gray: #595959;
$linkedin: #0077b5;

// HTML Elements
$body: #fff;
$border-color: #e7e5dd;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// Links
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$nav-link: $white;
$nav-link-hover: $black;

// Forms
$form-bg: #e7e5dd;

// Borders
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
